

language=es

log_level.jmeter=INFO
log_level.jmeter.control=DEBUG
log_level.jmeter.testbeans=DEBUG
log_level.jmeter.engine=DEBUG
log_level.jmeter.threads=DEBUG
log_level.jmeter.gui=WARN
log_level.jmeter.testelement=DEBUG
log_level.jmeter.util=WARN
log_level.jmeter.protocol.http=DEBUG


httpclient.timeout=30000

httpclient.socket.timeout=30000

httpclient.connection.timeout=30000

httpclient4.max_total_connection=200
httpclient4.max_connection_per_host=20

httpclient4.retrycount=1
httpclient4.request.timeout=30000


jmeter.save.saveservice.output_format=csv

jmeter.save.saveservice.data_type=true
jmeter.save.saveservice.label=true
jmeter.save.saveservice.response_code=true
jmeter.save.saveservice.response_data=false
jmeter.save.saveservice.response_data.on_error=false
jmeter.save.saveservice.response_message=true
jmeter.save.saveservice.successful=true
jmeter.save.saveservice.thread_name=true
jmeter.save.saveservice.time=true
jmeter.save.saveservice.subresults=true
jmeter.save.saveservice.assertions=true
jmeter.save.saveservice.latency=true
jmeter.save.saveservice.connect_time=true
jmeter.save.saveservice.samplerData=false
jmeter.save.saveservice.responseHeaders=false
jmeter.save.saveservice.requestHeaders=false
jmeter.save.saveservice.encoding=false
jmeter.save.saveservice.bytes=true
jmeter.save.saveservice.sent_bytes=true
jmeter.save.saveservice.url=true
jmeter.save.saveservice.filename=false
jmeter.save.saveservice.hostname=false
jmeter.save.saveservice.thread_counts=true
jmeter.save.saveservice.sample_count=true
jmeter.save.saveservice.idle_time=true


jmeter.threads.rampup=60
jmeter.threads.duration=300


jmeter.reportgenerator.overall_granularity=60000
jmeter.reportgenerator.apdex_satisfied_threshold=500
jmeter.reportgenerator.apdex_tolerated_threshold=1500


jmeter.threads.max_memory=512m


httpclient4.localaddr=
httpclient4.localport=


https.default.protocol=TLS
https.socket.protocols=TLSv1.2,TLSv1.3




CookieManager.save.cookies=false
CookieManager.check.cookies=false


httpclient4.cache.enabled=false


httpclient4.accept_encoding=gzip,deflate


httpclient4.useragent=Apache-HttpClient/4.5.13 (Java/11.0.12)


httpclient4.connection.stalecheck=true


httpclient4.redirect.ignore=false
httpclient4.redirect.max=5


httpclient4.request.timeout=30000
httpclient4.socket.timeout=30000
httpclient4.connection.timeout=30000


httpclient4.max_total_connection=200
httpclient4.max_connection_per_host=20
httpclient4.retrycount=1







